@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

body {
    background-color: rgb(224, 224, 224);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}

/* EDIT SPACE */
.editSpace {
    width: fit-content;
    min-height: fit-content;
    max-height: 100%;
    padding: 1em;
    background-color: rgb(124, 124, 124);
    justify-content: center;
}

.editSpaceInner {
    width: 100%;
    height: 70%;
    overflow: auto;
    display: none;
    direction: rtl;
}

.showHide button img {
    width: 25px;
    cursor: pointer;
}

.boxForLabel {
    width: 100%;
    padding: 0.2em;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.5em;
    resize: none;
}

.btnBox {
    width: 100%;
    padding-right: 1em;
    border-top: 1px solid #fff;
}

.btn,
#yes,
#no {
    width: 100%;
    margin: 0.5em;
    outline: 0;
    background: 0 0;
    border: 1px solid #000;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
}

.btn:hover,
#yes:hover,
#no:hover {
    background-color: #FF4742;
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px, -4px);
}

.btn:focus-visible,
#yes:focus-visible,
#no:focus-visible {
    outline-offset: 1px;
}


/* WHITE SPACE */
.whiteSpace {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#whiteSpaceInner {
    width: 90%;
    height: 90%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/* MASSAGE */
#massage {
    display: none;
    position: absolute;
    text-align: center;
    width: 12em;
    padding-left: 1em;
    top: 40%;
    left: 25%;
    background-color: #fff;
    border: 1px solid #000;
}

.myDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#savedOrNot {
    text-align: center;
}

.loader {
    pointer-events: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: an1 01s ease infinite;
    margin: 0 auto;
}

@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .editSpace {
        width: 100%;
        /* height: fit-content; */
        padding: 1em;
        background-color: rgb(124, 124, 124);
        justify-content: center;
        align-content: flex-end;
    }

    .whiteSpace {
        min-height: 20em;
    }
}