@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: heebo;
  direction: rtl;
}

html {
  scroll-padding: var(--scroll-padding, 3.8rem);
  font-family: Heebo;
}

body {
  overflow-x: hidden;
}

/* TEXT */
/* BUTTON */
body {
  width: 100vw;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head-box {
  width: 100%;
  height: 20em;
  margin-top: 3.9em;
  background-image: url(Images/overlay-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.head-box-background {
  width: 100%;
  height: 100%;
  background-color: rgba(19, 232, 241, 0.3882352941);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head-box-in {
  width: 100%;
  color: #3A3A3A;
  text-align: center;
}

.head-box-in #h2 {
  font-size: 2.1rem;
  line-height: 1.2;
}

.head-box-in p {
  font: 1.1rem;
  padding: 0 10%;
}

/* BUTTON */
.head-box-in .button {
  background-color: #1AE0EC;
  width: 9.563rem;
  height: 1.875rem;
  margin: 1rem 0.3rem 0;
  border: none;
  border-radius: 50px;
  color: #2C2C2C;
  font: 800 0.9rem Heebo;
  transition: all 0.2s ease;
  width: 13em;
}
.head-box-in .button a {
  text-decoration: none;
  color: #3A3A3A;
}
.head-box-in .button:hover {
  cursor: pointer;
  background-color: #1ef4ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* BREAK POINT */
@media (max-width: 800px) {
  .head-box-in {
    padding: 10%;
  }
}
.code-leng {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.123);
  position: relative;
}

.code-leng img {
  width: 2rem;
}

.code-leng img:hover {
  cursor: pointer;
  width: 2.2rem;
  transition: all 0.2s ease;
}

.about-me {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-me img {
  width: 150px;
}

.about-me h3 {
  font-size: 2rem !important;
  color: #3A3A3A;
  line-height: 3;
}

.about-me p {
  width: 50%;
  font: 1.1rem;
}

/* BUTTON */
.about-me .button {
  background-color: #1AE0EC;
  width: 9.563rem;
  height: 1.875rem;
  margin: 1rem 0.3rem 0;
  border: none;
  border-radius: 50px;
  color: #2C2C2C;
  font: 800 0.9rem Heebo;
  transition: all 0.2s ease;
}

.about-me .button a {
  text-decoration: none;
  color: #3A3A3A;
}

.about-me .button:hover {
  cursor: pointer;
  background-color: #1ef4ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* BREAK POINT */
@media (max-width: 800px) {
  .about-me p {
    width: 70%;
    font: 1.1rem;
  }
}
.gallery-container {
  width: 100%;
  padding: 5em 0 7em 0;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gallery-container h3 {
  font-size: 2rem !important;
  color: #3A3A3A;
}
.gallery-container p {
  width: 50%;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2em;
}
.gallery-container .gallrey-box-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5% 3%;
}
.gallery-container .gallrey-box-container .gallrey-box {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2666666667);
  justify-self: center;
  transition: all 0.2s ease;
}
.gallery-container .gallrey-box-container .gallrey-box .gallrey-box-img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.gallery-container .gallrey-box-container .gallrey-box .gallrey-box-img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1450980392);
}
.gallery-container .gallrey-box-container .gallrey-box .gallery-box-content {
  height: 100%;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* BUTTON */
}
.gallery-container .gallrey-box-container .gallrey-box .gallery-box-content h4 {
  font-size: 1.4rem;
}
.gallery-container .gallrey-box-container .gallrey-box .gallery-box-content p {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 0.8em;
}
.gallery-container .gallrey-box-container .gallrey-box .gallery-box-content .gallery-box-content-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.gallery-container .gallrey-box-container .gallrey-box .gallery-box-content .gallery-box-content-img img {
  width: 1em;
}
.gallery-container .gallrey-box-container .gallrey-box .gallery-box-content .button {
  background-color: #1AE0EC;
  width: 9.563rem;
  height: 1.875rem;
  margin: 1rem 0.3rem 0;
  border: none;
  border-radius: 50px;
  color: #2C2C2C;
  font: 800 0.9rem Heebo;
  transition: all 0.2s ease;
}
.gallery-container .gallrey-box-container .gallrey-box .gallery-box-content .button a {
  text-decoration: none;
  color: #3A3A3A;
}
.gallery-container .gallrey-box-container .gallrey-box .gallery-box-content .button:hover {
  cursor: pointer;
  background-color: #1ef4ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.gallery-container .gallrey-box-container .gallrey-box:hover {
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.4549019608);
}

/* BREAK POINT */
@media (max-width: 800px) {
  .gallery-container {
    padding: 6em 0 40em 0;
  }
  .gallery-container .gallrey-box-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery-container .gallrey-box-container .gallrey-box {
    width: 70%;
  }
  .gallery-container .gallrey-box-container .gallrey-box .gallery-box-content {
    padding: 2em 2%;
  }
}
.contact {
  width: 100%;
  padding: 0 10% 7rem 0;
  background-color: #3A3A3A;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* IMAGE */
}
.contact .contact-box {
  width: 35%;
  margin-top: 7rem;
  /* BUTTON */
}
.contact .contact-box h3 {
  font-size: 2rem !important;
  color: #FFFFFF;
}
.contact .contact-box p {
  font-size: 1.1rem;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.contact .contact-box .label {
  height: 100%;
  text-align: right;
  font: bold 1rem/1.5rem Heebo;
  letter-spacing: 0px;
  color: #FFFFFF;
  line-height: 2;
}
.contact .contact-box .input {
  width: 100%;
  height: 50px;
  background-color: #E5EEFF;
  font-size: 0.9rem;
  padding: 5px 10px;
  border: 0;
  border-bottom: 4px solid #1AE0EC;
  transition: all 0.2s;
}
.contact .contact-box .input:hover {
  background-color: #ffffff;
}
.contact .contact-box .textarea {
  width: 100%;
  height: 100px;
  resize: none;
}
.contact .contact-box .button {
  background-color: #1AE0EC;
  width: 9.563rem;
  height: 1.875rem;
  margin: 1rem 0.3rem 0;
  border: none;
  border-radius: 50px;
  color: #2C2C2C;
  font: 800 0.9rem Heebo;
  transition: all 0.2s ease;
  height: 40px;
}
.contact .contact-box .button a {
  text-decoration: none;
  color: #3A3A3A;
}
.contact .contact-box .button:hover {
  cursor: pointer;
  background-color: #1ef4ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(253, 253, 253, 0.5);
}
.contact .contact-img {
  width: 65%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
.contact .contact-img img {
  width: 600px;
}

/* BREAK POINT */
@media (max-width: 800px) {
  .contact {
    flex-direction: column-reverse;
    /* IMAGE */
  }
  .contact .contact-box {
    width: 85%;
    margin-top: 0;
  }
  .contact .contact-img {
    width: 100%;
    padding-right: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
  }
  .contact .contact-img img {
    width: 270px;
  }
}
.icons {
  width: 100%;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #1AE0EC;
}
.icons .icon-box {
  padding: 1em;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
.icons .icon-box p {
  line-height: 2;
}

.footer {
  width: 100%;
  padding: 3px 3%;
  background-color: black;
  color: #1AE0EC;
  font: 300 1.2rem Heebo;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #1AE0EC;
}

#my-nav {
  width: 100%;
  padding: 10px 15%;
  top: 0;
  background-color: #fff;
  border-top: 3px solid #1AE0EC;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1607843137);
  z-index: 100;
}
#my-nav .container-fluid {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

#navbarNavAltMarkup .navbar-nav {
  text-align: center;
}
#navbarNavAltMarkup .navbar-nav a:hover {
  color: #1AE0EC;
}

.nav-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}
.nav-pic .navbar-brand img {
  width: 2.5em;
}
.nav-pic .my-name {
  text-decoration: none;
  color: #000;
}
.nav-pic .my-name span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 13px;
  height: 100%;
  align-self: center;
}
.nav-pic .my-name span p {
  font-family: "Satisfy", cursive;
  font-size: 1.4rem;
}

/* BREAK POINT */
@media (max-width: 992px) {
  #my-nav {
    padding: 10px 2%;
  }
  #my-nav .container-fluid {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 798px) {
  #my-nav {
    padding: 10px 2%;
  }
  #my-nav .container-fluid {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 300px) {
  .nav-pic .my-name span {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */