.about-me {
    width: 100%;
    padding: 5rem 0;
    @include flex-center;
    text-align: center;
}

.about-me img {
    width: 10em;
    border-radius: 50%;
    transition: transform 0.6s ease-in-out;
}

.about-me img:hover {
    cursor: pointer;
    transform: scale(1.2);
    // width: 20em;
    box-shadow: 0 0 20px #0000006e;
}

.about-me h3 {
    font-size: $h3Size;
    color: $textColor;
    line-height: 3;
}

.about-me p {
    width: 50%;
    font: $textSize;
}

/* BUTTON */
.about-me .button {
    @include button-style;
}

.about-me .button a {
    @include button-style-a;
}

.about-me .button:hover {
    @include button-style-hover;
}

/* BREAK POINT */

@media (max-width: 800px) {
    .about-me p {
        width: 80%;
        font: $textSize;
    }

    .about-me img:hover {
        transform: scale(1.9);
    }
}