.footer {
    width: 100%;
    padding: 3px 3%;
    background-color: black;
    color: #1AE0EC;
    font: 300 1.2rem Heebo;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #1AE0EC;
}