.icons {
    width: 100%;
    padding: 1em 2em;
    @include flex-center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #1AE0EC;

    a {
        text-align: center;
        text-decoration: none;
        color: #000;
        font-weight: bold;

        hgroup {
            padding: 1em;
            width: fit-content;
            height: fit-content;
            text-align: center;

            img {
                width: 2em;
            }

            p {
                line-height: 2;
            }
        }
    }
}