@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    direction: rtl;
}

.img-box {
    width: 100%;
}

.img-box img {
    width: 100%;
    height: 18.75em;
}

.headline-box {
    width: 100%;
    position: absolute;
    top: 3.125em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#form-headline {
    font: bold 3rem Assistant;
    color: #D3E10E;
}

#form-paragraph {
    font: normal 1.063rem Assistant;
    color: #ffffff;
}

.form-container {
    width: 100%;
    margin-top: 4.375em;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    gap: 2em;
}

.form-control {
    width: 20em;
    display: flex;
    flex-direction: column;
}

.label {
    width: 100%;
    text-align: right;
    font: bold 1rem Assistant;
    color: #011560;
    line-height: 1.6;
}

.input {
    width: 100%;
    height: 3.125em;
    padding: 0 0.625em;
    background: #F6F6F6;
    border: 0;
    border-bottom: 3px solid #D3E10E;
    font: normal 1rem Assistant;
    transition: all 0.2s;
}

.input:hover {
    background: #e2e2e2;
}

#btn-control {
    height: 3.125em;
    margin-right: 1.25em;
    display: flex;
    justify-content: flex-end;
}

#btn {
    width: 7em;
    height: 3.125em;
    background: #D3E10E;
    text-align: center;
    font: bold 1.375rem Assistant;
    letter-spacing: 0.021em;
    color: #011560;
    border: 0;
    transition: all 0.2s;
}

#btn:hover {
    cursor: pointer;
    color: #011560;
    background: #ffffff;
    border: 1px solid #011560;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.297);
}


/* BREAK POINT */
@media screen and (max-width:800px) {
    .container {
        margin-bottom: 6.25em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
    }

    .form-control {
        width: 100%;
    }

    .label {
        width: 100%;
    }

    .input {
        width: 100%;
    }

    #form-headline {
        margin-top: 1.25em;
        font: bold 1.875rem Assistant;
    }

    #form-paragraph {
        width: 70%;
        font-size: 1rem;
    }

    #btn-control {
        width: 100%;
        margin: 0;
    }

    #btn {
        width: 100%;
    }
}